*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
line-height: 1.65;
}
/* Header section ===========================================================================================================================*/
#header{
height: 100vh;
background: url(../img/bg/bg-1.png);
background-size: cover;
background-position: 50% 50%;
position: relative;
}
.nav{
height: 150px;
align-items: center;
}
.nav img{
width: 230px;
height: 65px;
}
.nav ul{
list-style-type: none;
align-items: center;
}
.nav li{
margin: 0 20px;
}
.nav a{
color: var(--secondary-text);
text-decoration: none;
}
#login{
padding: 12px 45px;
border: 0.5px solid var(--accent-color);
border-radius: 20px;
}
#login a{
color: var(--accent-color);
}
#header h1, #header p{
text-align: center;
}
#header h1{
margin: 85px 0 0 25px;
color: var(--secondary-text);
}
#header p{
color: var(--third-text);
}
.absolute-img{
position: absolute;
left: 0;
right: 0;
bottom: -190px;
margin: auto;
filter: drop-shadow(-20px 0px 50px #132346);
}
/* Services section ===========================================================================================================================*/
#services{
padding: 320px 0 120px 0;
}
#services img{
display: block;
margin: 0 auto;
}
.services-wrap{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 130px;
}
.services-wrap p:first-of-type{
text-align: center;
color: var(--main-text);
font-weight: 700;
margin: 55px 0 30px 0;
}
.services-wrap p:last-of-type{
text-align: center;
color: var(--third-text);
}
/* Devices section ===========================================================================================================================*/
.container-devices{
width: 92.5%;
margin-left: 7.5%;
}
.devices-wrap{
grid-template-columns: 1fr 1fr;
grid-gap: 50px;
}
.devices-wrap ul{
list-style: none;
}
.devices-wrap li{
color: var(--accent-color);
background: url(../img/icons/check.png) no-repeat left center;
padding-left: 30px;
margin: 10px 0;
}
/* Tasks section ===========================================================================================================================*/
#tasks{
background: url(../img/bg/bg-1.png);
background-size: cover;
background-position: 50% 40%;
padding: 120px 0 220px 0;
}
.tasks-wrap{
grid-template-columns: 1fr 1fr 2fr;
grid-gap: 100px;
}
.tasks-wrap p{
color: var(--secondary-text);
margin-bottom: 30px;
}
.tasks-wrap p span{
color: var(--third-text);
}
.tasks-wrap img{
display: block;
width: 100%;
}
.tasks-wrap h2{
color: var(--secondary-text);
}
.tasks-arrows{
justify-content: start !important;
}
.tasks-arrows img{
width: auto;
margin-right: 15px;
}
/* Template section ===========================================================================================================================*/
#template h2{
text-align: center;
}
.template-description{
text-align: center;
width: 60%;
margin: 30px auto 70px;
}
#template img{
display: block;
margin: 0 auto;
}
#template-img{
position: relative;
}
.screen-pane{
width: 50%;
position: absolute;
top: 70px;
}
#screen-pane-right{
right: 0;
bottom: 140px;
top: auto;
}
.screen-line{
width: 100%;
height: 2px;
background: var(--accent-color);
margin: 20px 0 30px 0;
position: relative;
}
.screen-line-dot{
position: absolute;
width: 30px;
height: 30px;
border-radius: 50%;
border: 5px solid #99b5ff;
background: var(--accent-color);
right: 0;
bottom: -13px;
}
#dot-right-pane{
left: 0;
right: auto;
}
.screen-pane p{
width: 35%;
}
.screen-pane p:first-of-type{
font-weight: 700;
}
.screen-pane p:last-of-type{
color: var(--third-text);
}
#screen-pane-right p{
text-align: right;
margin-left: 65%;
}
/* Pricing section ===========================================================================================================================*/
.container-pricing{
width: 60%;
margin: 0 auto;
}
#pricing h2{
text-align: center;
}
.pricing-wrap{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 100px;
margin: 80px 0;
}
.pricing-wrap>div{
padding: 40px 50px;
background: #fff;
box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.pricing-wrap p:first-of-type{
text-transform: uppercase;
text-align: center;
}
.pricing-price{
margin: 30px 0;
font-size: 72px;
font-weight: 700;
text-align: center;
}
.pricing-price span{
color: var(--third-text);
}
.pricing-wrap ul{
list-style-type: none;
margin: 0 auto;
width: fit-content;
}
.pricing-wrap li{
background: url(../img/icons/check.png) no-repeat left center;
color: var(--third-text);
padding-left: 30px;
text-align: center;
margin: 5px;
}
.pricing-cross{
background: url(../img/icons/cross.png) no-repeat left center !important;
}
.pricing-description{
 color: var(--third-text);
 width: 70%;
 text-align: center;
 margin: 0 auto;
}
/* Utility classes =============================================================================================================================*/
:root{
    --main-text: #0e1a35;
    --secondary-text: #fff;
    --third-text: #8492af;
    --accent-color: #5584ff;
    }
    section{
    padding: 120px 0;
    }
    .container{
    width: 85%;
    margin: 0 auto;
    }
    .flex-container{
    display: flex;
    justify-content: space-between;
    }
    .flex-container-center{
    display: flex;
    justify-content: center;
    }
    .grid-container{
    display: grid;
    }
    .text-s{
    font-size: 18px;
    font-weight: 400;
    }
    .text-md{
    font-size: 24px;
    font-weight: 400;
    }
    .text-lg{
    font-size: 36px;
    font-weight: 400;
    }
    .text-xl{
    font-size: 60px;
    font-weight: 300;
    color: var(--main-text);
    }
.btn{
display: block;
margin: 60px auto;
background: var(--accent-color);
color: var(--secondary-text);
padding: 10px 50px;
border-radius: 20px;
outline: none;
border: none;
font-weight: 700;
cursor: pointer;
}
.item-p{
    margin: 40px 0;
    color: var(--third-text);
}
